<app-header></app-header>
<div class="container-fluid w-75 my-5">
    <div class="row">
        <div class="col-lg-2 sidebar">
            <div>
                <ul class="list-group">
                    <li class="list-group-item active">Main Page</li>
                    <li class="list-group-item">Ads</li>
                    <li class="list-group-item">Users</li>
                  </ul>
            </div>
        </div>
        <div class="col-lg-10 detail">
            <div class="cards">

            </div>
        </div>
    </div>
</div>