@import "../shared/scss/colors";

.active {
    background-color: $secondaryColor;
    border: 1px solid  $secondaryColor;
    & .link{
        color: $white;
    }
}

.link {
    color:black;
    text-decoration: none;
}