.toolBarItemsAlignment {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    .toolbarText {
        color: var(primaryColor);
        font-size: 1.2rem;
        font-weight: bold;
    }

    .logoutButton {
        background-color: var(red);
        color: #fff;
    }
}