@import "../../shared/scss/_variables.scss";


.toolBarItemsAlignment{
    display: flex; 
    justify-content:space-around;
    margin: 0 auto;

    .toolbarText{
        color:$primaryColor; 
        font-size:1.3rem;
        font-weight: bold;
    }
   
    .buttonItemsAlignment {
        display: flex;
        align-items: center;
        background-color: $primaryColor;
        color:#fff;
        font-weight: bold; 
        font-size:1rem;
        border: 0;
        border-radius: 5px;
    }
    
    .buttonItemsAlignment:hover{
        cursor: pointer;
    }
}



