@import "../../../shared/scss/buttons";

.adsTitle {
    text-align: center;
    background-color: $secondaryColor;
    border: 1px solid $secondaryColor;
    color: #fff;
    padding: 0.7rem;

}

.card {
    box-shadow: 0px -2px 0px #549EF2;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}