@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "../src/app/shared/scss/colors";
@import "../src/app/shared/scss/buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eeeeee;
}

.alert-success {
    background-color: green;
    color: #fff;
}

.alert-error {
    background-color: red;
    color: #fff;
}